<h1>Detalle del Ticket</h1>

<p><strong>Código:</strong> {{ticket.code}}</p>
<p><strong>Fecha de Compra:</strong> {{ticket.purchase_datetime}}</p>
<p><strong>Monto Total:</strong> ${{ticket.amount}}</p>
<p><strong>Comprador:</strong> {{ticket.purchaser}}</p>

{{#if ticket.productsNotPurchased}}
  {{#if ticket.productsNotPurchased.length}}
    <h2>Productos No Comprados</h2>
    <ul>
      {{#each ticket.productsNotPurchased}}
        <li>
          <p><strong>Producto:</strong> {{this.title}}</p>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

<p><a href="/api/products/view">Volver a Productos</a></p>
